/* Reduce navbar when map is visible */
.psv--has-map .psv-navbar {
  left: 340px;
  right: 0;
  border-top-left-radius: 10px;
  width: unset;
}

.psv--has-map {
  z-index: 1;
}

/* Small widget layout */
.psv-container.gvs-small,
.psv-map.gvs-map-small {
  position: absolute;
  top: unset;
  bottom: 10px;
  left: 10px;
  width: 320px;
  height: 180px;
}

.psv-container.gvs-small {
  border-radius: 10px;
}

/* Minimized widget layout */
.psv-container.gvs-minimized,
.psv-map.gvs-map-minimized {
  display: none;
}

/* Hide navbar buttons */
.psv-container.gvs-small .psv-navbar {
  display: none;
}
